aside.app-sidebar {
  position: fixed;
  height: 100%;
  padding: 32px 24px;
  background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,  #0082c8, #0082c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  #0082c8, #0082c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside.app-sidebar img {
  width: 48px;
}

aside.app-sidebar footer a,
aside.app-sidebar footer button {
  width: 48px;
  height: 48px;

  border: 0;

  background: #12AFCB;
  border-radius: 16px;

  cursor: pointer;

  transition: background-color 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

aside.app-sidebar footer a:hover,
aside.app-sidebar footer button:hover {
  background: #17D6EB;
}